@font-face {
    font-family: 'Podkova';
    src: url('Podkova-ExtraBold.eot');
    src: url('Podkova-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Podkova-ExtraBold.woff2') format('woff2'),
        url('Podkova-ExtraBold.woff') format('woff'),
        url('Podkova-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Podkova';
    src: url('Podkova-Medium.eot');
    src: url('Podkova-Medium.eot?#iefix') format('embedded-opentype'),
        url('Podkova-Medium.woff2') format('woff2'),
        url('Podkova-Medium.woff') format('woff'),
        url('Podkova-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Podkova';
    src: url('Podkova-Bold.eot');
    src: url('Podkova-Bold.eot?#iefix') format('embedded-opentype'),
        url('Podkova-Bold.woff2') format('woff2'),
        url('Podkova-Bold.woff') format('woff'),
        url('Podkova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Podkova';
    src: url('Podkova-Regular.eot');
    src: url('Podkova-Regular.eot?#iefix') format('embedded-opentype'),
        url('Podkova-Regular.woff2') format('woff2'),
        url('Podkova-Regular.woff') format('woff'),
        url('Podkova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Podkova';
    src: url('Podkova-SemiBold.eot');
    src: url('Podkova-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Podkova-SemiBold.woff2') format('woff2'),
        url('Podkova-SemiBold.woff') format('woff'),
        url('Podkova-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

